In [12]:
import pickle
import pandas as pd
import feather

In [3]:
with open("../data/input/data.covs.pickle", "rb") as f:
    df = pickle.load(f)

In [4]:
df.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,rc_A,rc_B,rc_C,mu,...,Cv,freqs_min,freqs_max,freqs_mean,linear,mulliken_min,mulliken_max,mulliken_mean,mulliken_atom_0,mulliken_atom_1
0,5174511,dsgdb9nsd_033805,11,7,2JHC,NaN,3.54257,1.50643,1.34544,4.4029,...,27.528,155.249,3252.0483,1324.421867,1.0,-0.342191,0.15667,-6.250000e-08,0.075457,-0.088328
1,5174510,dsgdb9nsd_033805,11,6,3JHC,NaN,3.54257,1.50643,1.34544,4.4029,...,27.528,155.249,3252.0483,1324.421867,1.0,-0.342191,0.15667,-6.250000e-08,0.075457,-0.101114
2,5174509,dsgdb9nsd_033805,11,5,2JHC,NaN,3.54257,1.50643,1.34544,4.4029,...,27.528,155.249,3252.0483,1324.421867,1.0,-0.342191,0.15667,-6.250000e-08,0.075457,-0.088328
3,5174508,dsgdb9nsd_033805,11,4,1JHC,NaN,3.54257,1.50643,1.34544,4.4029,...,27.528,155.249,3252.0483,1324.421867,1.0,-0.342191,0.15667,-6.250000e-08,0.075457,-0.139609
4,5174507,dsgdb9nsd_033805,11,3,2JHC,NaN,3.54257,1.50643,1.34544,4.4029,...,27.528,155.249,3252.0483,1324.421867,1.0,-0.342191,0.15667,-6.250000e-08,0.075457,-0.221362

In [5]:
df.shape

(7163689, 30)

In [6]:
df["molecule_name"].nunique()

130775

In [10]:
cols = df.columns.values[6:]

In [11]:
cols

array(['rc_A', 'rc_B', 'rc_C', 'mu', 'alpha', 'homo', 'lumo', 'gap', 'r2',
       'zpve', 'U0', 'U', 'H', 'G', 'Cv', 'freqs_min', 'freqs_max',
       'freqs_mean', 'linear', 'mulliken_min', 'mulliken_max',
       'mulliken_mean', 'mulliken_atom_0', 'mulliken_atom_1'],
      dtype=object)

In [13]:
train = feather.read_dataframe("../data/input/train.feather")
test = feather.read_dataframe("../data/input/test.feather")

In [14]:
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [15]:
train = train.merge(df, on=["molecule_name", "atom_index_0", "atom_index_1"], how="left")
test = test.merge(df, on=["molecule_name", "atom_index_0", "atom_index_1"], how="left")

In [16]:
train.head()

,id_x,molecule_name,atom_index_0,atom_index_1,type_x,scalar_coupling_constant_x,id_y,type_y,scalar_coupling_constant_y,rc_A,...,Cv,freqs_min,freqs_max,freqs_mean,linear,mulliken_min,mulliken_max,mulliken_mean,mulliken_atom_0,mulliken_atom_1
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076,0,1JHC,84.8076,157.7118,...,6.469,1341.307,3151.7078,2182.525478,1.0,-0.535689,0.133923,0.0,0.133921,-0.535689
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,1,2JHH,-11.2570,157.7118,...,6.469,1341.307,3151.7078,2182.525478,1.0,-0.535689,0.133923,0.0,0.133921,0.133922
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,2,2JHH,-11.2548,157.7118,...,6.469,1341.307,3151.7078,2182.525478,1.0,-0.535689,0.133923,0.0,0.133921,0.133923
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,3,2JHH,-11.2543,157.7118,...,6.469,1341.307,3151.7078,2182.525478,1.0,-0.535689,0.133923,0.0,0.133921,0.133923
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074,4,1JHC,84.8074,157.7118,...,6.469,1341.307,3151.7078,2182.525478,1.0,-0.535689,0.133923,0.0,0.133922,-0.535689

In [17]:
qm_train = train[cols]
qm_test = test[cols]

In [18]:
qm_train.shape, qm_test.shape

((4658147, 24), (2505542, 24))

In [19]:
qm_train.to_feather('../features/QM_train.feather')
qm_test.to_feather('../features/QM_test.feather')