In [18]:
import feather
import pandas as pd
import numpy as np
import seaborn as sns

In [19]:
train = feather.read_dataframe('../data/input/train.feather').head(1000)
structures = feather.read_dataframe("../data/input/structures.feather")

In [20]:
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [21]:
structures.head()

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

In [22]:
df_distance = structures.merge(structures, on='molecule_name', how='left', suffixes=['_0', '_1'])

In [24]:
df_distance.head(10)

,molecule_name,atom_index_0,atom_0,x_0,y_0,z_0,atom_index_1,atom_1,x_1,y_1,z_1
0,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,0,C,-0.012698,1.085804,0.008001
1,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,1,H,0.002150,-0.006031,0.001976
2,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,2,H,1.011731,1.463751,0.000277
3,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,3,H,-0.540815,1.447527,-0.876644
4,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,4,H,-0.523814,1.437933,0.906397
5,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,0,C,-0.012698,1.085804,0.008001
6,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,1,H,0.002150,-0.006031,0.001976
7,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,2,H,1.011731,1.463751,0.000277
8,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,3,H,-0.540815,1.447527,-0.876644
9,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,4,H,-0.523814,1.437933,0.906397

In [25]:
df_distance = df_distance[df_distance['atom_index_0'] != df_distance['atom_index_1']]
df_distance.head()

,molecule_name,atom_index_0,atom_0,x_0,y_0,z_0,atom_index_1,atom_1,x_1,y_1,z_1
1,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,1,H,0.002150,-0.006031,0.001976
2,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,2,H,1.011731,1.463751,0.000277
3,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,3,H,-0.540815,1.447527,-0.876644
4,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,4,H,-0.523814,1.437933,0.906397
5,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,0,C,-0.012698,1.085804,0.008001

In [26]:
df_distance['distance'] = np.linalg.norm(df_distance[['x_0', 'y_0', 'z_0']].values - 
                                                df_distance[['x_1', 'y_1',  'z_1']].values, axis=1, ord = 2)

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
df_distance.head()

,molecule_name,atom_index_0,atom_0,x_0,y_0,z_0,atom_index_1,atom_1,x_1,y_1,z_1,distance
1,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,1,H,0.002150,-0.006031,0.001976,1.091953
2,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,2,H,1.011731,1.463751,0.000277,1.091952
3,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,3,H,-0.540815,1.447527,-0.876644,1.091946
4,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,4,H,-0.523814,1.437933,0.906397,1.091948
5,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,0,C,-0.012698,1.085804,0.008001,1.091953

In [29]:
tmp = df_distance.groupby(['molecule_name', 'atom_index_0'])['distance'].nsmallest(10)

In [36]:
tmp_2 = tmp.reset_index()[['molecule_name', 'atom_index_0', 'distance']].head(100)

In [37]:
tmp_2.head(20)

       molecule_name  atom_index_0  distance
0   dsgdb9nsd_000001             0  1.091946
1   dsgdb9nsd_000001             0  1.091948
2   dsgdb9nsd_000001             0  1.091952
3   dsgdb9nsd_000001             0  1.091953
4   dsgdb9nsd_000001             1  1.091953
5   dsgdb9nsd_000001             1  1.783120
6   dsgdb9nsd_000001             1  1.783147
7   dsgdb9nsd_000001             1  1.783157
8   dsgdb9nsd_000001             2  1.091952
9   dsgdb9nsd_000001             2  1.783120
10  dsgdb9nsd_000001             2  1.783148
11  dsgdb9nsd_000001             2  1.783158
12  dsgdb9nsd_000001             3  1.091946
13  dsgdb9nsd_000001             3  1.783147
14  dsgdb9nsd_000001             3  1.783148
15  dsgdb9nsd_000001             3  1.783158
16  dsgdb9nsd_000001             4  1.091948
17  dsgdb9nsd_000001             4  1.783148
18  dsgdb9nsd_000001             4  1.783148
19  dsgdb9nsd_000001             4  1.783157

In [39]:
groups = tmp_2.groupby(['molecule_name', 'atom_index_0'])

In [61]:
for group in groups:
    print(group[0])

('dsgdb9nsd_000001', 0)
('dsgdb9nsd_000001', 1)
('dsgdb9nsd_000001', 2)
('dsgdb9nsd_000001', 3)
('dsgdb9nsd_000001', 4)
('dsgdb9nsd_000002', 0)
('dsgdb9nsd_000002', 1)
('dsgdb9nsd_000002', 2)
('dsgdb9nsd_000002', 3)
('dsgdb9nsd_000003', 0)
('dsgdb9nsd_000003', 1)
('dsgdb9nsd_000003', 2)
('dsgdb9nsd_000004', 0)
('dsgdb9nsd_000004', 1)
('dsgdb9nsd_000004', 2)
('dsgdb9nsd_000004', 3)
('dsgdb9nsd_000005', 0)
('dsgdb9nsd_000005', 1)
('dsgdb9nsd_000005', 2)
('dsgdb9nsd_000007', 0)
('dsgdb9nsd_000007', 1)
('dsgdb9nsd_000007', 2)
('dsgdb9nsd_000007', 3)
('dsgdb9nsd_000007', 4)
('dsgdb9nsd_000007', 5)
('dsgdb9nsd_000007', 6)

In [65]:
def convert_to_arr(df):
    len_dist_arr = 10
    len_prop_arr = 2
    dist_arr = np.zeros(len_dist_arr)
    prop_arr = np.zeros(len_prop_arr)
    groups = df.groupby(['molecule_name', 'atom_index_0'])
    for group in groups:
        cur_num_dist = len(group[1]['distance'])
        dist = np.pad(group[1]['distance'].values, [0, len_dist_arr - cur_num_dist], 'constant')
        #zero pad when there are less than 10 dist values for the molecule&atom pair
        dist_arr = np.vstack([dist_arr, dist])
        prop_arr = np.vstack([prop_arr, np.array(group[0])])
        
    arr_combined = np.hstack([prop_arr[1:], dist_arr[1:]])
    col_names = [f'dist_from_closest_{i}' for i in range(1, 11)]
    col_names = ['molecule_name', 'atom_index_0'] + col_names
    return pd.DataFrame(arr_combined, columns=col_names)

In [66]:
dist = convert_to_arr(tmp_2)

In [67]:
dist.head()

,molecule_name,atom_index_0,dist_from_closest_1,dist_from_closest_2,dist_from_closest_3,dist_from_closest_4,dist_from_closest_5,dist_from_closest_6,dist_from_closest_7,dist_from_closest_8,dist_from_closest_9,dist_from_closest_10
0,dsgdb9nsd_000001,0,1.0919463791331034,1.0919475411120265,1.0919516185813627,1.0919530596119005,0.0,0.0,0.0,0.0,0.0,0.0
1,dsgdb9nsd_000001,1,1.0919530596119005,1.7831197560388008,1.783147496403011,1.7831566853296161,0.0,0.0,0.0,0.0,0.0,0.0
2,dsgdb9nsd_000001,2,1.0919516185813627,1.7831197560388008,1.78314839437957,1.7831576598381313,0.0,0.0,0.0,0.0,0.0,0.0
3,dsgdb9nsd_000001,3,1.0919463791331034,1.783147496403011,1.7831478722297796,1.7831576598381313,0.0,0.0,0.0,0.0,0.0,0.0
4,dsgdb9nsd_000001,4,1.0919475411120265,1.7831478722297796,1.78314839437957,1.7831566853296161,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
train.head(20)

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.80760
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.25700
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.25480
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.25430
4,4,dsgdb9nsd_000001,2,0,1JHC,84.80740
5,5,dsgdb9nsd_000001,2,3,2JHH,-11.25410
6,6,dsgdb9nsd_000001,2,4,2JHH,-11.25480
7,7,dsgdb9nsd_000001,3,0,1JHC,84.80930
8,8,dsgdb9nsd_000001,3,4,2JHH,-11.25430
9,9,dsgdb9nsd_000001,4,0,1JHC,84.80950
10,10,dsgdb9nsd_000002,1,0,1JHN,32.68890
11,11,dsgdb9nsd_000002,1,2,2JHH,-11.18660
12,12,dsgdb9nsd_000002,1,3,2JHH,-11.17570
13,13,dsgdb9nsd_000002,2,0,1JHN,32.68910
14,14,dsgdb9nsd_000002,2,3,2JHH,-11.17580
15,15,dsgdb9nsd_000002,3,0,1JHN,32.69050
16,16,dsgdb9nsd_000003,1,2,2JHH,-9.94641
17,17,dsgdb9nsd_000005,2,0,1JHC,171.22000
18,18,dsgdb9nsd_000005,2,1,2JHN,5.18246
19,19,dsgdb9nsd_000007,2,0,1JHC,83.54290

In [74]:
dist['atom_index_0'] = dist['atom_index_0'].astype(int)

In [77]:
final = train.merge(dist, left_on=['molecule_name', 'atom_index_0'], right_on=['molecule_name', 'atom_index_0'], how='left')
final = final.merge(dist, left_on=['molecule_name', 'atom_index_1'], right_on=['molecule_name', 'atom_index_0'], how='left', suffixes=['_a0', '_a1'])

In [78]:
final.head(20)

,id,molecule_name,atom_index_0_a0,atom_index_1,type,scalar_coupling_constant,dist_from_closest_1_a0,dist_from_closest_2_a0,dist_from_closest_3_a0,dist_from_closest_4_a0,...,dist_from_closest_1_a1,dist_from_closest_2_a1,dist_from_closest_3_a1,dist_from_closest_4_a1,dist_from_closest_5_a1,dist_from_closest_6_a1,dist_from_closest_7_a1,dist_from_closest_8_a1,dist_from_closest_9_a1,dist_from_closest_10_a1
0,0,dsgdb9nsd_000001,1,0,1JHC,84.80760,1.0919530596119005,1.7831197560388008,1.783147496403011,1.7831566853296161,...,1.0919463791331034,1.0919475411120265,1.0919516185813627,1.0919530596119005,0.0,0.0,0.0,0.0,0.0,0.0
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.25700,1.0919530596119005,1.7831197560388008,1.783147496403011,1.7831566853296161,...,1.0919516185813627,1.7831197560388008,1.78314839437957,1.7831576598381313,0.0,0.0,0.0,0.0,0.0,0.0
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.25480,1.0919530596119005,1.7831197560388008,1.783147496403011,1.7831566853296161,...,1.0919463791331034,1.783147496403011,1.7831478722297796,1.7831576598381313,0.0,0.0,0.0,0.0,0.0,0.0
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.25430,1.0919530596119005,1.7831197560388008,1.783147496403011,1.7831566853296161,...,1.0919475411120265,1.7831478722297796,1.78314839437957,1.7831566853296161,0.0,0.0,0.0,0.0,0.0,0.0
4,4,dsgdb9nsd_000001,2,0,1JHC,84.80740,1.0919516185813627,1.7831197560388008,1.78314839437957,1.7831576598381313,...,1.0919463791331034,1.0919475411120265,1.0919516185813627,1.0919530596119005,0.0,0.0,0.0,0.0,0.0,0.0
5,5,dsgdb9nsd_000001,2,3,2JHH,-11.25410,1.0919516185813627,1.7831197560388008,1.78314839437957,1.7831576598381313,...,1.0919463791331034,1.783147496403011,1.7831478722297796,1.7831576598381313,0.0,0.0,0.0,0.0,0.0,0.0
6,6,dsgdb9nsd_000001,2,4,2JHH,-11.25480,1.0919516185813627,1.7831197560388008,1.78314839437957,1.7831576598381313,...,1.0919475411120265,1.7831478722297796,1.78314839437957,1.7831566853296161,0.0,0.0,0.0,0.0,0.0,0.0
7,7,dsgdb9nsd_000001,3,0,1JHC,84.80930,1.0919463791331034,1.783147496403011,1.7831478722297796,1.7831576598381313,...,1.0919463791331034,1.0919475411120265,1.0919516185813627,1.0919530596119005,0.0,0.0,0.0,0.0,0.0,0.0
8,8,dsgdb9nsd_000001,3,4,2JHH,-11.25430,1.0919463791331034,1.783147496403011,1.7831478722297796,1.7831576598381313,...,1.0919475411120265,1.7831478722297796,1.78314839437957,1.7831566853296161,0.0,0.0,0.0,0.0,0.0,0.0
9,9,dsgdb9nsd_000001,4,0,1JHC,84.80950,1.0919475411120265,1.7831478722297796,1.78314839437957,1.7831566853296161,...,1.0919463791331034,1.0919475411120265,1.0919516185813627,1.0919530596119005,0.0,0.0,0.0,0.0,0.0,0.0
10,10,dsgdb9nsd_000002,1,0,1JHN,32.68890,1.0171900266331495,1.618522750813246,1.618709923498906,0.0,...,1.0171871876583656,1.0171900266331495,1.0172079061723844,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,11,dsgdb9nsd_000002,1,2,2JHH,-11.18660,1.0171900266331495,1.618522750813246,1.618709923498906,0.0,...,1.0171871876583656,1.618522750813246,1.618705586866408,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,12,dsgdb9nsd_000002,1,3,2JHH,-11.17570,1.0171900266331495,1.618522750813246,1.618709923498906,0.0,...,1.0172079061723844,1.618705586866408,1.618709923498906,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,13,dsgdb9nsd_000002,2,0,1JHN,32.68910,1.0171871876583656,1.618522750813246,1.618705586866408,0.0,...,1.0171871876583656,1.0171900266331495,1.0172079061723844,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,14,dsgdb9nsd_000002,2,3,2JHH,-11.17580,1.0171871876583656,1.618522750813246,1.618705586866408,0.0,...,1.0172079061723844,1.618705586866408,1.618709923498906,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,15,dsgdb9nsd_000002,3,0,1JHN,32.69050,1.0172079061723844,1.618705586866408,1.618709923498906,0.0,...,1.0171871876583656,1.0171900266331495,1.0172079061723844,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,16,dsgdb9nsd_000003,1,2,2JHH,-9.94641,0.9621068124142939,1.5133578656020985,0.0,0.0,...,0.9621068124937776,1.5133578656020985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,17,dsgdb9nsd_000005,2,0,1JHC,171.22000,1.0665980559772636,2.218345971950668,0.0,0.0,...,1.0665980559772636,1.1517479159734043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,18,dsgdb9nsd_000005,2,1,2JHN,5.18246,1.0665980559772636,2.218345971950668,0.0,0.0,...,1.1517479159734043,2.218345971950668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,19,dsgdb9nsd_000007,2,0,1JHC,83.54290,1.0949536393523485,1.7652188805306301,1.7652641590054792,2.182491670619745,...,1.0949536393523485,1.094958091442396,1.0949681926796166,1.5296287108241522,2.182484942910271,2.1824853336564436,2.182536880569697,0.0,0.0,0.0